[submodule "ContosoDentistryChatBot"]
	path = ContosoDentistryChatBot
	url = git@github.com:rodolfocorreasp/ContosoDentistryChatBot.git
[submodule "ContosoDentistryFAQs"]
	path = ContosoDentistryFAQs
	url = git@github.com/rodolfocorreasp/ContosoDentistryFAQs.git
[submodule "ContosoDentistryWebsite"]
        path = ContosoDentistryWebsite
        url = git@github.com/rodolfocorreasp/ContosoDentistryWebsite.git
[submodule "ContosoDentistryScheduler"]
	path = ContosoDentistryScheduler
	url = https://rodolfocorreasp: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@github.com/rodolfocorreasp/ContosoDentistryScheduler.git
